.kgItems {
  display: flex !important;
  justify-content: space-between;
  /* background-color: blueviolet !important; */
}

.kgText {
  display: inline-block;
  color: rgb(0, 0, 0);
  font-weight: 500;
}
